* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#header {
    background-color: rgba(171, 150, 150, 1);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    width: 100%;

}


h2 {
    font-weight: 750;
    color: aliceblue;
    text-transform: capitalize;
    margin-left: 50px;

}


nav a {
    text-decoration: none;
    margin-right: 50px;
    font-weight: 650;
    font-size: 15px;
    text-transform: capitalize;
    color: aliceblue;



}

.coffe-image {
    position: absolute;
    height: 60px;
    width: 70px;
    margin-top: -25px;
    margin-left: -65px;

}

nav a:hover {
    cursor: pointer;
    color: rgb(241, 78, 28);

}

#home {
    padding: 80px;



}

.deatils {
    margin-top: 80px;
}

.specail {
    color: rgb(241, 78, 28);
    font-family: cursive;
    text-transform: capitalize;
    font-size: x-large;
}

.detail {
    color: black;
    font-family: cursive;
    text-transform: capitalize;
    font-size: xx-large;
}

#box1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cup-image {
    height: 490px;
    width: 540px;
    margin-top: -250px;
    margin-right: -30px;



}

#box2 {
    align-items: center;
    margin-top: -180px;
    top: 0;
    left: 0;




}

button {
    height: 40px;
    width: 120px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 50px;
    border: 1px solid rgb(255, 24, 24);
    background-color: transparent;



}

button:hover {
    background-color: brown;
    color: white;
}



.image1 {
    height: 250px;
    width: 250px;
}

#catagery {
    margin-top: 100px;

}

h1 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: cursive;
    border-radius: 10px;
    color: brown;
    text-decoration: underline yellow;
}

.catagery-image {
    height: 100px;
    width: 120px;

}

#catagery-box {
    display: flex;
    justify-content: space-around;


}

.catagery-item {
    height: 400px;
    width: 350px;
    border-radius: 10%;
    align-items: center;
    justify-self: center;
    background-color: white;
}

.catagery-item img {
    height: 300px;
    width: 350px;

}

.catagery-item h3,
h4 {
    text-align: center;
    margin-top: 2px;
    text-transform: capitalize;
    color: chocolate;

}

.catagery-item button {
    margin-left: 110px;
    margin-top: 5px;
}


#catagery-box2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#about-section {
    margin-top: 100px;
    /* display: flex; */
}

.about-parent {
    display: flex;


}

#about-image2 {
    display: flex;
    margin-top: 50px;
}